<div class="action-buttons">
  <input type="checkbox" name="select-all">
  <%= form_tag update_batch_path(todo: 'validate', query: params[:query], statut: params[:status], pre_or_post: params[:pre_or_post], validated: params[:validated]), method: :patch do %>
    <%= hidden_field_tag :surgery_ids, nil, id: "validate_batch_input" %>
    <%= submit_tag "ARCHIVER", class: "btn primary-cta" %>
  <% end %>
  <%= form_tag sms_batch_path, method: :post do %>
    <%= hidden_field_tag :surgery_ids, nil, id: "batch_input" %>
    <button type="submit" class="btn secondary-cta">
      <i class="far fa-comment" style="padding-right: 8px"></i>RENVOYER AU PATIENT
    </button>
  <% end %>
  <div class="dropdown">
    <button class="btn secondary-cta dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      PRIORISER
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu small-font" aria-labelledby="dropdownMenu1">
      <% @status_array.each do |status| %>
        <li>
          <%= form_tag update_batch_path(status: status, todo: "prioritize"), method: :patch do %>
            <%= hidden_field_tag :surgery_ids, nil, id: "batch_input" %>
            <%= submit_tag "#{status.capitalize}", class: "no-submit" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
