<div class="right-side-wrapper">
  <div class="right-side-box">
    <div class="patient-box">
      <p> <%= @surgery.patient.first_name %> <%= @surgery.patient.last_name %> </p>
      <p class= "secondary-info"> <i class="fas fa-phone"></i> <%= @surgery.patient.phone_number %></p>
    </div>
    <div class="surgery-box">
      <div class="surgery-title">
        <div class="surgery-name">
          <p class= "no-margin"> <%=  @surgery.surgery_type.description %></p>
        </div>
        <ul class="list-inline">
          <li>
            Priorité : Urgent
          </li>
            <li>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Changer
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Urgent</a>
                  <a class="dropdown-item" href="#">Important</a>
                  <a class="dropdown-item" href="#">Okay</a>
                </div>
              </div>
          </li>
        </ul>
      </div>
      <div class="surgery-main-info">
        <ul class="list-inline no-margin">
          <li>
            <p class="secondary-info"> Médecin <%= @surgery.surgeon.name %></p>
          </li>
          <li>
            <button class="discrete-button"> <i class="fab fa-telegram-plane"></i> Send email</button>
          </li>
        </ul>
        <% if Date.today > @surgery.date %>
            <ul class="list-inline no-margin">
              <li> <p class = "discrete-tag">J+1</p> </li>
              <li><p class="secondary-info">opération réalisée le <u>  <%= @surgery.date %> </u> </p> </li>
            </ul>
        <%  else %>
            <ul class="list-inline no-margin">
              <li> <p class = "discrete-tag">J-1</p> </li>
              <li><p class="secondary-info">opération prévue le <u>  <%= @surgery.date %> </u> </p> </li>
            </ul>
        <% end %>
      </div>
      <div class="surgery-forms-box">
            <% if Date.today > @surgery.date %>

              <% unless @surgery.post_form_answered %>
              <p class="secondary-info">
                <i class="fas fa-check"></i>
                Formulaire post-opération <u> rempli </u>
              </p>
              <button class="discrete-button"> <i class="fas fa-eye"></i></i><%= link_to 'Voir les réponses', surgery_path(@surgery) %></button>
              <% else %>
                  <p class="secondary-info"> Formulaire post-opération <u>non rempli</u> </p>
                  <ul class="list-inline">
                    <li>
                      <button class="discrete-button"> <i class="far fa-comment"></i> Renvoyer au patient</button>
                    </li>
                    <li>
                      <button class="discrete-button"> <i class="fas fa-edit"></i> Remplir</button>
                    </li>
                  </ul>
              <% end %>
            <% end %>



        </ul>
      </div>
      <div class="green-separator"></div>
      <div class="surgery-history-box">
        <p>Historique</p>
          <% @surgery.events.each do |event| %>
            <div class="history-box">
              <div class="history-left">
                <div class="history-separator-big"></div>
                <div class=" <%= 'red' if event.flag == 'red' %>
                             <%= 'green' if event.flag == 'green' %>
                             <%= 'orange' if event.flag == 'orange' %>
                 bullet"></div>
                <div class="history-separator-big"
                <% if event == @surgery.events.last %> style = "border-color: white;" <% end %>></div>
              </div>
              <div class="history-right">
                <%= event.description %>
              </div>
            </div>
            <div class="history-sep-box">
              <div class="history-separator-small"></div>
              <div class="history-right"></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>









