<div class="right-side-wrapper">
  <div class="right-side-box">
    <div class="patient-box"
      <% if @surgery.status == "urgent" %>
        style="background-color: #EE5F5B;"
      <% elsif @surgery.status == "à traiter" %>
        style="background-color: #E67E22;"
      <% elsif @surgery.status == "ok" %>
        style="background-color: #32B796;"
      <% elsif @surgery.status == "non répondu" %>
        style="background-color: #6C6D69;"
      <% end %>

    >
      <p> <%= @surgery.patient.first_name %> <%= @surgery.patient.last_name %> </p>
      <p> <i class="fas fa-phone"></i> <%= @surgery.patient.phone_number %></p>
    </div>
    <div class="surgery-box">
      <div class="surgery-title">
        <ul class="list-inline no-margin">
          <li style="padding-left: 0px;">
              <p class= "no-margin"> <%=  @surgery.surgery_type.description %></p>
          </li>
            <li>
              <div class="dropdown">
                <button class="btn btn-default transparent-hover font-15 dropdown-toggle small-font" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span <% if @surgery.status == "urgent" %>
                    style="color: #EE5F5B;"> Urgent
                  <% elsif @surgery.status == "à traiter" %>
                    style="color: #E67E22;"> A traiter
                  <% elsif @surgery.status == "ok" %>
                    style="color: #32B796;"> Ok
                  <% elsif @surgery.status == "non répondu" %>
                    style="color: #6C6D69;"> Non répondu
                  <% end %>
                  </span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu font-15 small-font" aria-labelledby="dropdownMenu1">
                  <%= form_for @surgery, url: surgery_path(@surgery), method: :patch do |f| %>
                  <li> <input class="no-submit" type="submit" value="Urgent" name="change_status" ></li>
                  <li> <input class="no-submit" type="submit" value="A traiter" name="change_status" ></li>
                  <li> <input class="no-submit" type="submit" value="Ok" name="change_status" ></li>
                  <li><input class="no-submit" type="submit" value="Non répondu" name="change_status"></li>
                  <% end %>
                </ul>
              </div>
          </li>
          <li>
            <%= form_for @surgery, url: surgery_path(@surgery), method: :patch do |f| %>
              <% if @surgery.validated %>
                <input type="hidden" value="unvalidate" name="todo">
                <button type = "submit" class = "validated-btn"> <i class="far fa-check-square"></i> Validé </button>
              <% else %>
                <input type="hidden" value="validate" name="todo">
                <button type ="submit" class = "validate-btn"> <i class="far fa-square"></i> Valider </button>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="surgery-main-info">
        <% if Date.today > @surgery.date %>
          <p class="secondary-info">Opération réalisée le <u>  <%= @surgery.date %> </u></p>
        <%  else %>
          <p class="secondary-info">Opération prévue le <u>  <%= @surgery.date %> </u></p>
        <% end %>
      </div>
        <ul class="list-inline doctor-box">
          <li>
            <p class="secondary-info"> <strong> Médecin :</strong> <%= @surgery.surgeon.name %></p>
          </li>
          <li>
            <%= link_to notice_path(@surgery), method: "POST" do %>
              <button class="discrete-button"> <i class="fab fa-telegram-plane"></i> Send email</button>
            <% end %>
          </li>
        </ul>
      <div class="surgery-forms-box">

            <% if Date.today > @surgery.date %>
              <ul class= "list-inline">
                <li> <p class = "discrete-tag">J+1</p> </li>
              <% if @surgery.post_form_answered %>
                  <li><p class="secondary-info">
                    <i class="fas fa-check"></i>
                    Formulaire post-opération <u> rempli </u>
                  </p></li>
                </ul>
                <button class="discrete-button"> <i class="fas fa-eye"></i></i><%= link_to 'Voir les réponses', surgery_path(@surgery) %></button>
              <% else %>
                  <li><p class="secondary-info"> Formulaire post-opération <u>non rempli</u> </p></li>
                </ul>
                  <ul class="list-inline">
                    <li>
                      <button class="discrete-button"> <i class="far fa-comment"></i> Renvoyer au patient</button>
                    </li>
                    <li>
                      <button class="discrete-button"> <i class="fas fa-edit"></i><%= link_to 'Remplir', surgery_path(@surgery) %></button>
                    </li>
                  </ul>
              <% end %>

            <% else %>

              <ul class= "list-inline">
                <li> <p class = "discrete-tag">J-1</p> </li>
              <% if @surgery.pre_form_answered %>
                  <li><p class="secondary-info">
                    <i class="fas fa-check"></i>
                    Formulaire pré-opération <u> rempli </u>
                  </p></li>
                </ul>
                <button class="discrete-button"> <i class="fas fa-eye"></i></i><%= link_to 'Voir les réponses', surgery_path(@surgery) %></button>
              <% else %>
                  <li><p class="secondary-info"> Formulaire pré-opération <u>non rempli</u> </p></li>
                </ul>
                  <ul class="list-inline">
                    <li>
                      <button class="discrete-button"> <i class="far fa-comment"></i> Renvoyer au patient</button>
                    </li>
                    <li>
                      <button class="discrete-button"> <i class="fas fa-edit"></i><%= link_to 'Remplir', surgery_path(@surgery) %></button>
                    </li>
                  </ul>
              <% end %>

            <% end %>



        </ul>
      </div>
      <div class="surgery-history-box">
        <p>Historique</p>
          <% @surgery.events.each do |event| %>
            <div class="history-box secondary-info">
              <div class="history-left">
                <div class="history-separator-big"></div>
                <div class=" <%= 'grey' if event.flag == nil %>
                             <%= 'red' if event.flag == 'red' %>
                             <%= 'green' if event.flag == 'green' %>
                             <%= 'orange' if event.flag == 'orange' %>
                 bullet"></div>
                <div class="history-separator-big"
                <% if event == @surgery.events.last %> style = "border-color: white;" <% end %>></div>
              </div>
              <div class="history-right">
                <%= event.description %>
              </div>
            </div>
            <div class="history-sep-box">
              <div class="history-separator-small"></div>
              <div class="history-right"></div>
            </div>
          <% end %>
          <a href="#" class="secondary-info add-event"> + Ajouter un événement</a>
        </div>
      </div>
    </div>
  </div>









