
  <div class="core-left">
    <div class="actions">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default small-font">Valider</button>
        <button type="button" class="btn btn-default small-font">Notifier le chirurgien</button>
        <button type="button" class="btn btn-default small-font">Relancer par SMS</button>
        <button type="button" class="btn btn-default small-font">Changer la priorite</button>
      </div>
    </div>
    <div class="filters">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle small-font" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= params[:status].present? ? params[:status] : "Filtrer par priorité" %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu small-font" aria-labelledby="dropdownMenu1">

          <li><%= link_to "Red", surgeries_path(status: "red", surgery_id: params[:surgery_id], pre_or_post: params[:pre_or_post]) %></li>
          <li><%= link_to "Orange", surgeries_path(status: "orange", surgery_id: params[:surgery_id], pre_or_post: params[:pre_or_post]) %></li>
          <li><%= link_to "Yellow", surgeries_path(status: "yellow", surgery_id: params[:surgery_id], pre_or_post: params[:pre_or_post]) %></li>
          <li><%= link_to "Green", surgeries_path(status: "green", surgery_id: params[:surgery_id], pre_or_post: params[:pre_or_post]) %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to "All", surgeries_path(surgery_id: params[:surgery_id]) %></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle small-font" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= params[:pre_or_post].present? ? params[:pre_or_post] : "J+/-1" %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu small-font" aria-labelledby="dropdownMenu1">
          <li><%= link_to "J-1", surgeries_path(pre_or_post: "pre", surgery_id: params[:surgery_id], status: params[:status]) %></li>
          <li><%= link_to "J+1", surgeries_path(pre_or_post: "post", surgery_id: params[:surgery_id], status: params[:status]) %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to "All", surgeries_path(surgery_id: params[:surgery_id], status: params[:status]) %></li>
        </ul>
      </div>
    </div>
    <div class="surgery-cards-wrapper">
      <% @surgeries.each do |surgery| %>
        <div class="surgery-card small-font">
          <div class="checkbox">
            <% link_to  %>
            <i class="far fa-square"></i>
          </div>
          <!-- Quand la checkbox est cochee : <i class="far fa-check-square"></i> -->
          <%= link_to surgeries_path(surgery_id: surgery.id, status: params[:status], pre_or_post: params[:pre_or_post]) do %>
            <div class="surgery-patient">
              <p class="strong <%= surgery.status %>-font"><%= surgery.patient.first_name %> <%= surgery.patient.last_name %> - <%= surgery.surgeon.name %></p>
              <p><%= surgery.surgery_type.description %></p>
            </div>
            <div class="surgery-form-type discrete-tag">
              <% if surgery.date < Date.today %>
                <p>J+1</p>
              <% else %>
                <p>J-1</p>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
