<div class="surgery-card small-font">
  <div class="surgery-checkbox">
    <input type="checkbox" data-surgeryid="<%=surgery.id %>">
    <!-- Quand la checkbox est cochee : <i class="far fa-check-square"></i> -->
  </div>
  <%= link_to surgeries_path(surgery_id: surgery.id, status: params[:status], pre_or_post: params[:pre_or_post], validated: params[:validated]) do %>
    <div class="surgery-content <%= surgery.status %>-border">
      <div class="surgery-patient">
        <div class="surgery-details">
          <p class="strong"><%= surgery.patient.first_name %> <%= surgery.patient.last_name %> - <%= surgery.surgeon.name %></p>
        </div>
        <div class="surgery-description">
          <p><%= surgery.surgery_type.description %></p>
        </div>
      </div>
      <div class="surgery-types">
        <div class="surgery-status <%= surgery.status %>-color">
          <%= surgery.status.upcase %>
        </div>
        <div class="surgery-date">
          <% if surgery.date < Date.today %>
            POST
          <% else %>
            PRE
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
