
  <div class="core-left">

    <!-- Liste des filtres -->
    <div class="filters">
      <p>Filtrer par:</p>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle small-font" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= params[:status].present? ? params[:status].capitalize : "Statut" %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu small-font" aria-labelledby="dropdownMenu1">
          <% @status_array.each do |status| %>
            <li><%= link_to "#{status.capitalize}", surgeries_path(status: "#{status}", surgery_id: params[:surgery_id], pre_or_post: params[:pre_or_post], validated: params[:validated]) %></li>
          <% end %>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Tous", surgeries_path(surgery_id: params[:surgery_id], validated: params[:validated], pre_or_post: params[:pre_or_post]) %></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle small-font" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= params[:pre_or_post].present? ? (params[:pre_or_post] == "pre" ? "Pre" : "Post") : "Pre/Post" %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu small-font" aria-labelledby="dropdownMenu1">
          <li><%= link_to "Pre", surgeries_path(pre_or_post: "pre", surgery_id: params[:surgery_id], status: params[:status], validated: params[:validated]) %></li>
          <li><%= link_to "Post", surgeries_path(pre_or_post: "post", surgery_id: params[:surgery_id], status: params[:status], validated: params[:validated]) %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to "All", surgeries_path(surgery_id: params[:surgery_id], status: params[:status], validated: params[:validated]) %></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle small-font" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= params[:validated].present? ? (params[:validated] == "true" ? "Validé" : "En cours") : "Validé / En cours" %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu small-font" aria-labelledby="dropdownMenu1">
          <li><%= link_to "Validé", surgeries_path(validated: "true", surgery_id: params[:surgery_id], status: params[:status], pre_or_post: params[:pre_or_post]) %></li>
          <li><%= link_to "En cours", surgeries_path(validated: "false", surgery_id: params[:surgery_id], status: params[:status], pre_or_post: params[:pre_or_post]) %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Tout", surgeries_path(surgery_id: params[:surgery_id], status: params[:status]) %></li>
        </ul>
      </div>
    </div>

    <!-- Liste des actions -->
    <div class="actions">
      <div class="btn-group" role="group" aria-label="...">
        <%= form_tag validate_batch_path, method: :patch do %>
          <%= hidden_field_tag :surgery_ids, nil, id: "validate_batch_input" %>
          <%= submit_tag "Valider", class: "btn btn-default small-font" %>
        <% end %>


        <button type="button" class="btn btn-default small-font">Relancer par SMS</button>
      </div>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle small-font" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Changer la priorité
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu small-font" aria-labelledby="dropdownMenu1">
            <li><%= link_to "Red", surgeries_path(status: "red", surgery_id: params[:surgery_id], pre_or_post: params[:pre_or_post]) %></li>
            <li><%= link_to "Orange", surgeries_path(status: "orange", surgery_id: params[:surgery_id], pre_or_post: params[:pre_or_post]) %></li>
            <li><%= link_to "Yellow", surgeries_path(status: "yellow", surgery_id: params[:surgery_id], pre_or_post: params[:pre_or_post]) %></li>
            <li><%= link_to "Green", surgeries_path(status: "green", surgery_id: params[:surgery_id], pre_or_post: params[:pre_or_post]) %></li>
          </ul>
        </div>
    </div>

    <!-- Surgerie cards -->
    <div class="surgery-cards-wrapper">
      <% @surgeries.each do |surgery| %>
        <%= render "surgery_card", surgery: surgery %>
      <% end %>
    </div>
  </div>
