<div class="content-container">
  <div class="core-left">
    <% if params[:feature] == "form" %>
      <div id="pre-form-embed"></div>
      <div class="comment-box text-center">
        <%= simple_form_for(@surgery) do |f| %>
          <%= f.text_area :pre_comments, placeholder: "Ecrivez votre commentaire...", class: 'comment-field' %>
          <%= f.submit 'Ajouter un commentaire', class: 'btn btn-sm btn-primary' %>
        <% end %>
      </div>
    <% else %>

      <div class="surgery-cards-wrapper">
        <% @surgeries.each do |surgery| %>
          <div class="surgery-card small-font">
            <div class="surgery-form-type">J-1
            </div>
            <div class="surgery-patient">
              <%= surgery.patient.first_name %>
              <%= surgery.patient.last_name %>
            </div>
            <div class="surgery">
              <p><%= surgery.surgery_type.description %></p>
              <p><%= surgery.surgeon.name %></p>
            </div>
          </div>
        <% end %>
      </div>



    <% end %>
  </div>
  <div class="core-right">
    <%= @surgery.patient %>
    <%= @surgery.pre_form %>
    <%= link_to surgery_path(@surgery), feature: :form %>
  </div>
</div>

<%= javascript_include_tag "https://embed.typeform.com/embed.js" %>
<%= javascript_pack_tag 'typeform' %>
