<div class="content-container">
  <div class="core-left">
    <div id="pre-form-embed"></div>
    <div class="comment-box text-center">
      <%= simple_form_for(@surgery) do |f| %>
        <%= f.text_area :pre_comments, placeholder: "Ecrivez votre commentaire...", class: 'comment-field' %>
        <%= f.submit 'Ajouter un commentaire', class: 'btn btn-sm btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="core-right">
    <%= @surgery.patient %>
    <%= @surgery.pre_form %>
    <%= link_to surgery_path(@surgery), feature: :form %>
  </div>
</div>

<%= javascript_include_tag "https://embed.typeform.com/embed.js" %>
<%= javascript_pack_tag 'typeform' %>
