<div class="content-container">

  <% if params[:feature] == "form" %>
    <div class="core-left-surgery">
      <% if @pre_form_answer %>
        <p class='text-center'>Formulaire pré-admission</p>
        <div class="form-answered pre-scrollable">
          <ol>
            <% @pre_form_answer.form.question_array.each do |question| %>
              <li>
                <%= question['question'] %>:
                <% answer = @pre_form_answer.answer_hash[question["id"]] %>
                <% if answer == '0' %>
                  Oui
                <% elsif answer == '1' %>
                  Non
                <% else %>
                  <%= answer %>
                <% end %>
              </li>
            <% end %>
          </ol>
        </div>
      <% else %>
        <div id="pre-form-embed" data-surgeryid="<%= @surgery.id %>" data-typeformid="<%= @surgery.pre_form.typeform_id %>"></div>
      <% end %>
      <div class="comment-box text-center">
        <%= simple_form_for(@surgery) do |f| %>
          <%= f.text_area :pre_comments, placeholder: "Ecrivez votre commentaire...", class: 'comment-field' %>
          <%= f.submit 'Ajouter un commentaire', class: 'btn btn-sm btn-primary' %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="core-left">
      <div class="filters">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle small-font" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Filter by priority
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu small-font" aria-labelledby="dropdownMenu1">
            <li><a href="#">Red</a></li>
            <li><a href="#">Orange</a></li>
            <li><a href="#">Yellow</a></li>
            <li><a href="#">Green</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">All</a></li>
          </ul>
        </div>
      </div>
      <div class="surgery-cards-wrapper">
        <% @surgeries.each do |surgery| %>
          <div class="surgery-card small-font">
            <div class="checkbox">
              <i class="far fa-square"></i>
            </div>
            <!-- Quand la checkbox est cochee : <i class="far fa-check-square"></i> -->
            <%= link_to surgery_path(surgery) do %>
              <div class="surgery-patient">
                <% current_flag = (surgery.date < Date.today ? surgery.post_flag : surgery.pre_flag) %>
                <p class="strong <%= current_flag %>-font"><%= surgery.patient.first_name %> <%= surgery.patient.last_name %> - <%= surgery.surgeon.name %></p>
                <p><%= surgery.surgery_type.description %></p>
              </div>
            <div class="surgery-form-type">
              <% if surgery.date < Date.today %>
                <p>J+1</p>
              <% else %>
                <p>J-1</p>
              <% end %>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>

  <div class="core-right">
    <%= @surgery.patient %>
    <%= @surgery.pre_form %>
    <%= link_to surgery_path(@surgery), feature: :form %>
  </div>
</div>

<%= javascript_include_tag "https://embed.typeform.com/embed.js" %>
<%= javascript_pack_tag 'typeform' %>
