<p>Bonjour <%= @surgeon.name %>,</p>
<br>
<p>Votre patient <strong><%= @patient.first_name %> <%= @patient.last_name %></strong> a été contacté aujourd'hui par l'équipe d'infirmières dédiée au suivi de l'ambulatoire</p>
<br>
<p>Voici le détail des échanges : </p>

<% @events.each do |event| %>
  <p><%= event.created_at.strftime("%e %b %Y %H:%M:%S%p") %>: <%= event.description %></p>
<% end %>
