<%= content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag :dashboard %>
<% end %>

<div class="content-container">
  <div class="pre-op">
    <div class="all-flags">
      <div class="red-alert">
        <div class="chart-row">
            <%= link_to surgeries_path(status: "alerte") do %>
              <div class="chart-container">
                <figure class="chart-alert animate chart-position">
                  <svg role="img" xmlns="http://www.w3.org/2000/svg">
                    <title>[title here]</title>
                    <desc>[long description here]</desc>
                    <circle class="circle-background"/>
                    <circle class="circle-foreground">
                      <p class="chart-title color-red">Alerte</p>
                      <p class="chart-subtitle"> <%= Surgery.where("(date='#{Date.yesterday}' or date='#{Date.tomorrow}') and status='alerte'").count %> patients</p>
                    </circle>
                  </svg>
                  <figcaption>50% of all males like donuts.</figcaption>
                </figure>
              </div>
              <% end %>

              <%= link_to surgeries_path(status: "à vérifier") do %>
              <div class="chart-container">
                <figure class="chart-a-verifier animate chart-position">
                  <svg role="img" xmlns="http://www.w3.org/2000/svg">
                    <title>[title here]</title>
                    <desc>[long description here]</desc>
                    <circle class="circle-background"/>
                    <circle class="circle-foreground">
                      <p class="chart-title color-orange">A vérifier</p>
                      <p class="chart-subtitle"> <%= Surgery.where("(date='#{Date.yesterday}' or date='#{Date.tomorrow}') and status is null or status='à vérifier'").count %> patients</p>
                    </circle>
                  </svg>
                  <figcaption>50% of all males like donuts.</figcaption>
                </figure>
              </div>
              <% end %>
        </div>
          <div class="chart-row">
            <%= link_to surgeries_path(status: "non répondu") do %>
              <div class="chart-container">
                <figure class="chart-non-repondu animate chart-position">
                  <svg role="img" xmlns="http://www.w3.org/2000/svg">
                    <title>[title here]</title>
                    <desc>[long description here]</desc>
                    <circle class="circle-background"/>
                    <circle class="circle-foreground">
                      <p class="chart-title color-gray">Non répondu</p>
                      <p class="chart-subtitle"> <%= Surgery.where("(date='#{Date.yesterday}' or date='#{Date.tomorrow}') and status is null or status='non répondu'").count %> patients</p>
                    </circle>
                  </svg>
                  <figcaption>50% of all males like donuts.</figcaption>
                </figure>
              </div>
              <% end %>

              <%= link_to surgeries_path(status: "ok") do %>
              <div class="chart-container">
                <figure class="chart-ok animate chart-position">
                  <svg role="img" xmlns="http://www.w3.org/2000/svg">
                    <title>[title here]</title>
                    <desc>[long description here]</desc>
                    <circle class="circle-background"/>
                    <circle class="circle-foreground">
                      <p class="chart-title color-green">Ok</p>
                      <p class="chart-subtitle"> <%= Surgery.where("(date='#{Date.yesterday}' or date='#{Date.tomorrow}') and status is null or status='ok'").count %> patients</p>
                    </circle>
                  </svg>
                  <figcaption>50% of all males like donuts.</figcaption>
                </figure>
              </div>
              <% end %>
        </div>
      </div>
      <div class="gray-rectangle">
        <div class="yellow-rectangle" style="width: <%= (Surgery.where("(date='#{Date.yesterday}' or date='#{Date.tomorrow}') and validated=true").count.to_f / Surgery.where("(date='#{Date.yesterday}' or date='#{Date.tomorrow}')").count * 600 ).to_i%>px;">
        </div>
        <p class="total-des-taches">Total des tâches</p>
        <ul class="list-inline tasks-stats">
          <li class="validated-tasks" style="padding: 0px"> <%= Surgery.where("(date='#{Date.yesterday}' or date='#{Date.tomorrow}') and validated=true").count %></li>
          <li class="total-tasks" style="padding: 0px"> / <%= Surgery.where("(date='#{Date.yesterday}' or date='#{Date.tomorrow}')").count %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="post-op">
    <div class="all-flags" style="text-align: center">
      <div class="little-circle-container">
        <p class="little-circle-title">PATIENTS A SUIVRE AUJOURD'HUI</p>
        <div class="little-circle">
          <span class="little-circle-stat"> <%= Surgery.where("date='#{Date.yesterday}'").count + Surgery.where("date='#{Date.tomorrow}'").count %> </span>
        </div>
      </div>
      <div class="little-circle-container">
        <p class="little-circle-title">OPÉRATIONS RÉALISÉES HIER</p>
        <div class="little-circle">
          <span class="little-circle-stat"> <%= Surgery.where("date='#{Date.yesterday}'").count %> </span>
        </div>
      </div>
      <div class="little-circle-container">
        <p class="little-circle-title">OPÉRATIONS PRÉVUES DEMAIN</p>
        <div class="little-circle">
          <span class="little-circle-stat"> <%= Surgery.where("date='#{Date.tomorrow}'").count %> </span>
        </div>
      </div>
    </div>

  </div>
</div>
