
<div class="content-container">
  <div class="pre-op">
    <div class="title-sms">
      <div class="row">
        <div class="col-xs-12 row-container">
          <h4>Analyses des actions Pré-opératoire</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 row-container">
          <p>
            SMS envoyés : 100%
          </p>
        </div>
      </div>
    </div>

    <div class="all-flags">
      <div class="red-alert">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4" style="text-align: center">
            <div class="panel panel-danger <%= "red-alert-on" if nb_pre_op_red_flag > 0 %>">
              <div class="panel-heading <%= "red-alert-on-heading" if nb_pre_op_red_flag > 0 %>">Urgence
              </div>
              <div class="panel-body css-body">
                <p><%= nb_pre_op_red_flag %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flags">
        <div class="row">
          <div class="col-xs-12 col-sm-4" style="text-align: center">
            <div class="panel panel-warning">
              <div class="panel-heading">A contrôler</div>
              <div class="panel-body css-body">
                <p><%= nb_pre_op_orange_flag %></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4" style="text-align: center"">
            <div class="panel panel-info">
              <div class="panel-heading">Non répondu</div>
              <div class="panel-body css-body">
                <p><%= nb_pre_op_yellow_flag %></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4" style="text-align: center"">
            <div class="panel panel-success">
              <div class="panel-heading">Validé</div>
              <div class="panel-body css-body">
                <p><%= nb_pre_op_green_flag * 2 %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="post-op">
    <div class="title-sms">
      <div class="row">
        <div class="col-xs-12 row-container">
          <h4>Analyses des actions Post-opératoire</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 row-container">
          <p>
            SMS envoyés : 100%
          </p>
        </div>
      </div>
    </div>

    <div class="all-flags">
      <div class="red-alert">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4" style="text-align: center">
            <div class="panel panel-danger <%= "red-alert-on" if nb_post_op_red_flag > 0 %>">
              <div class="panel-heading <%= "red-alert-on-heading" if nb_post_op_red_flag > 0 %>">Urgence
              </div>
              <div class="panel-body css-body">
                <p><%= nb_post_op_red_flag %><%= '%' %> </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flags">
        <div class="row">
          <div class="col-xs-12 col-sm-4" style="text-align: center">
            <div class="panel panel-warning">
              <div class="panel-heading">A contrôler</div>
              <div class="panel-body css-body">
                <p><%= nb_post_op_orange_flag %></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4" style="text-align: center"">
            <div class="panel panel-info">
              <div class="panel-heading">Non répondu</div>
              <div class="panel-body css-body">
                <p><%= nb_post_op_yellow_flag %></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4" style="text-align: center"">
            <div class="panel panel-success">
              <div class="panel-heading">Validé</div>
              <div class="panel-body css-body">
                <p><%= nb_post_op_green_flag * 2 %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

