
<div class="content-container">
  <div class="pre-op">
    <div class="title-sms">
      <div class="row">
        <div class="col-xs-12 row-container">
          <h4>Analyses des actions Pré-opératoire</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 row-container">
          <p>
            SMS envoyés : 100%
          </p>
        </div>
      </div>
    </div>

    <div class="red-alert">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4" style="text-align: center">
          <div class="flag red-flag">
            <p><%= nb_pre_op_red_flag %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="flags">
      <div class="row">
        <div class="col-xs-12 col-sm-4" style="text-align: center">
          <div class="flag orange-flag">
            <p><%= nb_pre_op_orange_flag %></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4" style="text-align: center"">
          <div class="flag yellow-flag">
            <p><%= nb_pre_op_yellow_flag %></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4" style="text-align: center"">
          <div class="flag green-flag">
            <p><%= nb_pre_op_green_flag %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="post-op">
    <div class="title-sms">
      <div class="row">
        <div class="col-xs-12 row-container">
          <h4>Analyses des actions Post-opératoire</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 row-container">
          <p>
            SMS envoyés : 100%
          </p>
        </div>
      </div>
    </div>

    <div class="red-alert">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4" style="text-align: center">
          <div class="flag red-flag">
            <p><%= nb_pre_op_red_flag %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="flags">
      <div class="row">
        <div class="col-xs-12 col-sm-4" style="text-align: center">
          <div class="flag orange-flag">
            <p><%= nb_pre_op_orange_flag %></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4" style="text-align: center"">
          <div class="flag yellow-flag">
            <p><%= nb_pre_op_yellow_flag %></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4" style="text-align: center"">
          <div class="flag green-flag">
            <p><%= nb_pre_op_green_flag %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

